@charset "UTF-8";
@import "./reset.css";
@import url("http://fonts.googleapis.com/css?family=Open+Sans:300,400,700");

body {
    font-family: 'Open Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
    vertical-align:top;
    line-height:1.5em;
}

/*           dark    med     light
 *      grey #5c5041 #948f81 #b4baa7
 * turquoise #0b5c51 #0d8581 #189e9c
 *
 * #574c3d
 * #bdbead
 * #f4f4f4
 *
 * #0e574a
 * #1ba69a
 */

a {
    color:#1ba69a;
    text-decoration:none;
}

p {
    margin-top:1em;
    margin-bottom:0.5em;
}

pre {
    display:block;
    padding:0.5em;
    background-color:#f0f0f0;
}

ul {
    list-style-type:disc;
    margin-left:3em;
    margin-top:1em;
    margin-bottom:1em;
}

.title {
    display:block;
    font-size:2em;
    /*font-weight:300;*/
    color:#1ba69a;
    margin-bottom:0.5em;
}

.subtitle {
    color:#1ba69a;
    display:block;
    /*font-size:0.8em;*/
}

.header {
    display:block;
    padding-bottom:3em;
    padding-left:1.5em;
    padding-top:1.5em;
    background-color:#574c3d;
}

.post-block {
    clear:both;
    display:block;
    padding-top:3em;
    margin-bottom:3em;
    margin-left:3em;
    margin-right:3em;
    border-top:1px solid #bdbead;
}

.post-title {
    font-weight:300;
    font-size:1.5em;
    display:block;
    color:#0e574a;
    margin-bottom:1em;
}

.links {
    display:block;
    font-size:66%;
}

