@charset "UTF-8";
@import "./reset.css";
@import url("http://fonts.googleapis.com/css?family=Open+Sans:300,400,700");

body {
    font-family: 'Open Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
    vertical-align:top;
    line-height:1.5em;
}

/*           dark    med     light
 *      grey #5c5041 #948f81 #b4baa7
 * turquoise #0b5c51 #0d8581 #189e9c
 *
 * #574c3d
 * #bdbead
 * #f4f4f4
 *
 * #0e574a
 * #1ba69a
 */

a {
    /*color:#0088cc;*/
    /*color:#61d1b8;*/
    /*color:#54758a;*/
    /*color:#8ebfcc;*/
    /*color:#b4d4d4;*/
    /*color:#8cc2b4;*/
    color:#1ba69a;
    text-decoration:none;
}

p {
    margin-top:1em;
    margin-bottom:0.5em;
}

pre {
    display:block;
    padding:0.5em;
    /*background-color:#d2d6d5;*/
    /*background-color:#edd5ab;*/
    background-color:#f4f4f4;
}

ul {
    list-style-type:disc;
    margin-left:3em;
    margin-top:1em;
    margin-bottom:1em;
}

.title {
    display:block;
    font-size:2em;
    font-weight:300;
    color:#000000;
}

.header {
    display:block;
    padding-bottom:3em;
    padding-left:1.5em;
    padding-top:1.5em;
    /*background-color:#4e2e28;*/
    /*background-color:#9c8a77;*/
    /*background-color:#614c49;*/
    background-color:#574c3d;
}

.post-block {
    clear:both;
    display:block;
    padding-top:0.5em;
    margin-bottom:3em;
    margin-left:3em;
    margin-right:3em;
    border-top:1px solid #eee;
}

.post-title {
    font-weight:300;
    font-size:1.5em;
    display:block;
    padding-bottom:1em;
    color:#000000;
}

.links {
    display:block;
    font-size:66%;
}

